---
import Logo from "@components/ui/Logo";
---

<footer class="flex flex-row items-center pt-10 pb-5 mx-auto max-w-screen-2xl w-full px-3 sm:px-8">
    <div class="flex-1 flex">
        <Logo />
    </div>
    <div class="flex-1 flex justify-center">
        <span class="font-bold text-xs text-cod_black dark:text-cod_white">100%</span>
    </div>
    <div class="flex-1 flex justify-end">
        <span class="font-bold text-xs text-cod_black dark:text-cod_white">@2024</span>
    </div>
</footer>
