---
import Logo from "@components/ui/Logo.astro";
import ToggleSwitch from "@components/ui/ToggleSwitch";
---

<header class="flex flex-row items-center pt-[20px]">
    <div class="mx-auto max-w-screen-2xl w-full flex flex-row justify-between items-center px-8">
        <Logo />
        <span class="font-bold text-xs text-cod_black dark:text-cod_white">0%</span>
        <ToggleSwitch client:only  />
    </div>
</header>
