---
import CharacterCards from "@components/CharacterCards.astro";
import CrownCard from "@components/CrownCard";
import LandingTitle from "@components/LandingTitle.astro";
import CTACard from "@components/ui/CTACard.astro";
import Marquee from "@components/ui/Marquee.astro";
import LandingLayout from "@layouts/LandingLayout.astro";
---

<LandingLayout title="Clash of Dev">
    <div class="w-full flex flex-col pb-[60px] pt-[95px] sm:pt-[141px]">
        <section
            class="flex flex-col px-3 sm:px-8 lg:flex-row sm:mx-auto max-w-screen-2xl w-full items-center gap-10 sm:gap-20 justify-between">
            <LandingTitle class="justify-start relative w-full pr-[1px]" />
            <CrownCard
                client:load
                className="h-full flex justify-center md:justify-end md:pr-[39px] px-[17px] pl-[21px]"
            />
        </section>
        <section class="flex pt-[100px] sm:pt-[160px]">
            <Marquee />
        </section>
        <section
            class="grid grid-cols-1 auto-rows-fr md:auto-rows-auto px-3 md:px-8 md:mx-auto max-w-screen-2xl min-h-screen pt-[101px] sm:pt-[100px]">
            <CharacterCards />
            <CTACard />
        </section>
    </div>
</LandingLayout>
