---
import CharacterCards from "@components/CharacterCards.astro";
import CrownCard from "@components/CrownCard";
import LandingTitle from "@components/LandingTitle.astro";
import CTACard from "@components/ui/CTACard.astro";
import Marquee from "@components/ui/Marquee.astro";
import LandingLayout from "@layouts/LandingLayout.astro";
---

<LandingLayout title="Clash of Dev">
    <div class="w-full flex flex-col pb-[60px] pt-[95px] sm:pt-[141px]">
        <div class="flex flex-col px-3 sm:px-8 lg:flex-row sm:mx-auto max-w-screen-2xl w-full">
            <div class="flex flex-col lg:flex-row justify-between w-full h-full items-center gap-10 sm:gap-20">
                <LandingTitle class="justify-start relative w-full pr-[1px]" />
                <CrownCard
                    client:only="preact"
                    className="h-full flex justify-center md:justify-end md:pr-[39px] px-[17px] pl-[21px]"
                />
            </div>
        </div>
        <div class="flex pt-[100px] sm:pt-[160px]">
            <Marquee />
        </div>
        <div
            class="grid grid-cols-1 auto-rows-fr md:auto-rows-auto px-3 md:px-8 md:mx-auto max-w-screen-2xl min-h-screen pt-[101px] sm:pt-[100px]">
            <CharacterCards />
            <CTACard />
        </div>
    </div>
</LandingLayout>
