---
import { Icon } from "astro-icon/components";
import CollaboratorCursor from "./ui/CollaboratorCursor.astro";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={[className]}>
    <div class="relative w-[310px] h-[356px] flex justify-center items-center">
        <div
            class="bg-cod_white dark:bg-cod_black rotate-[12.48deg] flex flex-col p-[9px] w-[249.11px] h-[309.53px] rounded-[10px]">
            <div class="flex justify-start">
                <Icon class="h-[29px] w-[29px] text-beige dark:text-beige/20 blur-[2px]" name="crown" />
            </div>
            <div class="flex-1 flex items-center justify-center">
                <Icon class="h-[188px] w-[188px] text-beige dark:text-beige/20 blur-[2px]" name="crown" />
            </div>
            <div class="flex justify-end">
                <Icon class="h-[29px] w-[29px] text-beige dark:text-beige/20 blur-[2px]" name="crown" />
            </div>
        </div>

        <div class="absolute bottom-[35.68px] left-[-19px]">
            <CollaboratorCursor title="@sometimecrea" side="right" style="pink" />
        </div>
        <div class="absolute bottom-[125.86px] right-[-38.88px] transform -translate-y-1/2">
            <CollaboratorCursor title="@maislina_" side="left" style="orange" />
        </div>
        <div class="absolute bottom-[8.63px] right-[-29.88px]">
            <CollaboratorCursor title="@LLCoolChris" side="left" style="blue" />
        </div>
        <div class="absolute top-[34.88px] right-[-11.88px]">
            <Icon class="w-[55px] h-[55px]" name="clash_of_dev" />
        </div>
        <div
            class="w-[40px] h-[40px] bg-purple_mid dark:bg-pink_dark rounded-full flex items-center justify-center absolute top-[17.24px] right-[17.81px]">
            <Icon
                class="w-[16px] h-[9px] text-green_light dark:text-green_light/60 rotate-[-23deg]"
                name="balise"
            />
        </div>
    </div>
</div>
