---
import Head from "@components/layouts/Head.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
    <Head title={title} />
    <body class="antialiased bg-beige text-cod_black dark:text-cod_white dark:bg-smoke_dark">
        <slot />
    </body>
</html>
