---
import "@fontsource-variable/inter";
import "@styles/globals.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline>
            const setDarkMode = () => {
                if (localStorage.getItem("color-scheme") === "dark") {
                    document.querySelector("html").dataset.theme = "dark";
                }
                if (localStorage.getItem("color-scheme") === "light") {
                    document.querySelector("html").dataset.theme = "light";
                }
                if (!localStorage.getItem("color-scheme")) {
                    let theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
                    localStorage.setItem("color-scheme", theme);
                }
            };
            setDarkMode();
            document.addEventListener("astro:after-swap", setDarkMode);
        </script>
    </head>
    <body class="antialiased bg-beige text-cod_black dark:text-cod_white dark:bg-cod_black/95">
        <slot />
    </body>
</html>
