---
import { Icon } from "astro-icon/components";
import CollaboratorCursor from "./CollaboratorCursor.astro";
---

<div class="relative">
    <div class="bg-white rotate-12 flex flex-col p-2 w-[310px] h-[356px]">
        <div class="flex justify-start">
            <Icon class="h-7 w-7 text-beige" name="crown" />
        </div>

        <div class="flex-1 flex items-center justify-center">
            <Icon class="h-48 w-48 text-beige" name="crown" />
        </div>

        <div class="flex justify-end">
            <Icon class="h-7 w-7 text-beige" name="crown" />
        </div>
    </div>

    <div class="absolute bottom-[-3%] left-[-20%]">
        <CollaboratorCursor title="@sometimecrea" side="right" style="pink" />
    </div>
    <div class="absolute top-[60%] right-[-30%] transform -translate-y-1/2">
        <CollaboratorCursor title="@maislina_" side="left" style="orange" />
    </div>
    <div class="absolute bottom-[-9%] right-[-29%]">
        <CollaboratorCursor title="@LLCoolChris" side="left" style="blue" />
    </div>
</div>
