---

---

<label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" class="sr-only peer" />
    <div
        class="w-[54px] h-[27px] bg-text_light/60 rounded-full peer-checked:bg-text_light transition-colors duration-200 ease-in-out p-2">
    </div>
    <div
        class="absolute inset-y-0 left-1.5 w-[23px] h-[23px] bg-beige rounded-full transition-transform duration-200 ease-in-out transform peer-checked:translate-x-[19px] flex items-center justify-center m-auto">
        <svg class="w-3 h-3 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 15a5 5 0 100-10 5 5 0 000 10z"></path>
        </svg>
    </div>
</label>
